<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongming.project.mapper.AccessControlListMapper">

    <resultMap id="BaseResultMap" type="com.chongming.project.entity.AccessControlList">
            <id property="access_control_list_id" column="access_control_list_id" jdbcType="INTEGER"/>
            <result property="name_of_access_control" column="name_of_access_control" jdbcType="VARCHAR"/>
            <result property="access_control_number" column="access_control_number" jdbcType="VARCHAR"/>
            <result property="specific_location" column="specific_location" jdbcType="VARCHAR"/>
            <result property="contracting_unit" column="contracting_unit" jdbcType="VARCHAR"/>
            <result property="person_in_charge" column="person_in_charge" jdbcType="VARCHAR"/>
            <result property="repair_personnel" column="repair_personnel" jdbcType="VARCHAR"/>
            <result property="recommend" column="recommend" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        access_control_list_id,name_of_access_control,access_control_number,
        specific_location,contracting_unit,person_in_charge,
        repair_personnel,recommend,create_time,
        update_time
    </sql>
    <select id="selectById">

    </select>
</mapper>
