<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongming.project.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.chongming.project.dao.User">
            <id property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="SMALLINT"/>
            <result property="user_group" column="user_group" jdbcType="VARCHAR"/>
            <result property="login_time" column="login_time" jdbcType="TIMESTAMP"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="phone_state" column="phone_state" jdbcType="SMALLINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="email_state" column="email_state" jdbcType="SMALLINT"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,state,user_group,
        login_time,phone,phone_state,
        username,nickname,password,
        email,email_state,avatar,
        create_time
    </sql>
</mapper>
